# Brand Co. Client Segmentation

Validating differences across clusters through ANOVA and Tukey HSD

## Import libraries

In [44]:
# data
# ==============================================================================
import numpy as np
import pandas as pd

# charts
# ==============================================================================
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits import mplot3d

# pre-processing 
# ==============================================================================
from sklearn.preprocessing import StandardScaler

#from sklearn import metrics
from sklearn.cluster import KMeans, DBSCAN
from yellowbrick.cluster import KElbowVisualizer
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# warnings
# ==============================================================================
import warnings
warnings.filterwarnings('ignore')

#display
# ==============================================================================
pd.set_option('display.max_columns', None)

#stats
# ==============================================================================
from scipy.stats import f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd

## Import dataset

In [45]:
original_data = pd.read_csv('../data/clean/data_clean_women.csv')

In [46]:
labels = pd.read_csv('../data/clusters/clusters_women.csv')

In [47]:
original_data.head(2)

,client_id,residence_country 1,residence_country 2,residence_country 3,residence_country 4,residence_country 5,residence_country 6,residence_country 7,residence_other region 1,residence_other region 2,residence_other region 3,residence_other region 4,residence_other region 5,residence_other region 6,residence_other region 7,residence_other region 8,generation_gen silent/boomers,generation_gen x,generation_gen z/alpha,generation_millennials,category_children clothes,category_handbags,category_men clothes,category_men shoes,category_other,category_soft,category_women clothes,category_women shoes,color_cool_jewel,color_neutral_pastel,color_other,color_vivid_metallic,color_warm_earth,season_autumn,season_spring,season_summer,season_winter,total_sum
0,76154,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,4,0,1,2,0,2,4,1,0,0,5
1,292032,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,2,1,0,0,0,6,3,1,5,2,1,3,0,2,10,0,12

In [48]:
labels.head(2)

   client_id  cluster
0      76154        1
1     292032        1

## Transform dataset

In [49]:
data = pd.merge(original_data, labels, on='client_id')
data.head()

,client_id,residence_country 1,residence_country 2,residence_country 3,residence_country 4,residence_country 5,residence_country 6,residence_country 7,residence_other region 1,residence_other region 2,residence_other region 3,residence_other region 4,residence_other region 5,residence_other region 6,residence_other region 7,residence_other region 8,generation_gen silent/boomers,generation_gen x,generation_gen z/alpha,generation_millennials,category_children clothes,category_handbags,category_men clothes,category_men shoes,category_other,category_soft,category_women clothes,category_women shoes,color_cool_jewel,color_neutral_pastel,color_other,color_vivid_metallic,color_warm_earth,season_autumn,season_spring,season_summer,season_winter,total_sum,cluster
0,76154,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,4,0,1,2,0,2,4,1,0,0,5,1
1,292032,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,2,1,0,0,0,6,3,1,5,2,1,3,0,2,10,0,12,1
2,513675,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,12,2,1,1,33,2,8,18,3,5,17,6,7,8,30,51,0
3,514314,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,5,7,0,12,9,14,8,3,24,10,4,14,19,0,2,34,55,0
4,517104,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,1,0,0,2,0,2,1

In [50]:
#I will add proportion columns to account for the relative preference towards a given season, product category, color

In [51]:
data.columns

Index(['client_id', 'residence_country 1', 'residence_country 2',
       'residence_country 3', 'residence_country 4', 'residence_country 5',
       'residence_country 6', 'residence_country 7',
       'residence_other region 1', 'residence_other region 2',
       'residence_other region 3', 'residence_other region 4',
       'residence_other region 5', 'residence_other region 6',
       'residence_other region 7', 'residence_other region 8',
       'generation_gen silent/boomers', 'generation_gen x',
       'generation_gen z/alpha', 'generation_millennials',
       'category_children clothes', 'category_handbags',
       'category_men clothes', 'category_men shoes', 'category_other',
       'category_soft', 'category_women clothes', 'category_women shoes',
       'color_cool_jewel', 'color_neutral_pastel', 'color_other',
       'color_vivid_metallic', 'color_warm_earth', 'season_autumn',
       'season_spring', 'season_summer', 'season_winter', 'total_sum',
       'cluster'],
      dtype='object')

In [52]:
category_columns = [
    'category_children clothes', 'category_handbags',
       'category_men clothes', 'category_men shoes', 'category_other',
       'category_soft', 'category_women clothes', 'category_women shoes'
]

In [53]:
color_columns = ['color_cool_jewel', 'color_neutral_pastel', 'color_other',
       'color_vivid_metallic', 'color_warm_earth'
]

In [54]:
season_columns = ['season_autumn', 'season_spring', 'season_summer',
       'season_winter'
]

In [55]:
for col in category_columns:
    data[f'{col}_prop'] = data[col] / data['total_sum']

In [56]:
for col in color_columns:
    data[f'{col}_prop'] = data[col] / data['total_sum']

In [57]:
for col in season_columns:
    data[f'{col}_prop'] = data[col] / data['total_sum']

In [58]:
data.head()

,client_id,residence_country 1,residence_country 2,residence_country 3,residence_country 4,residence_country 5,residence_country 6,residence_country 7,residence_other region 1,residence_other region 2,residence_other region 3,residence_other region 4,residence_other region 5,residence_other region 6,residence_other region 7,residence_other region 8,generation_gen silent/boomers,generation_gen x,generation_gen z/alpha,generation_millennials,category_children clothes,category_handbags,category_men clothes,category_men shoes,category_other,category_soft,category_women clothes,category_women shoes,color_cool_jewel,color_neutral_pastel,color_other,color_vivid_metallic,color_warm_earth,season_autumn,season_spring,season_summer,season_winter,total_sum,cluster,category_children clothes_prop,category_handbags_prop,category_men clothes_prop,category_men shoes_prop,category_other_prop,category_soft_prop,category_women clothes_prop,category_women shoes_prop,color_cool_jewel_prop,color_neutral_pastel_prop,color_other_prop,color_vivid_metallic_prop,color_warm_earth_prop,season_autumn_prop,season_spring_prop,season_summer_prop,season_winter_prop
0,76154,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,4,0,1,2,0,2,4,1,0,0,5,1,0.0,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.800000,0.000000,0.200000,0.400000,0.000000,0.400000,0.800000,0.200000,0.000000,0.000000
1,292032,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,2,1,0,0,0,6,3,1,5,2,1,3,0,2,10,0,12,1,0.0,0.166667,0.083333,0.000000,0.000000,0.000000,0.500000,0.250000,0.083333,0.416667,0.166667,0.083333,0.250000,0.000000,0.166667,0.833333,0.000000
2,513675,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,12,2,1,1,33,2,8,18,3,5,17,6,7,8,30,51,0,0.0,0.000000,0.235294,0.039216,0.019608,0.019608,0.647059,0.039216,0.156863,0.352941,0.058824,0.098039,0.333333,0.117647,0.137255,0.156863,0.588235
3,514314,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,5,7,0,12,9,14,8,3,24,10,4,14,19,0,2,34,55,0,0.0,0.090909,0.127273,0.000000,0.218182,0.163636,0.254545,0.145455,0.054545,0.436364,0.181818,0.072727,0.254545,0.345455,0.000000,0.036364,0.618182
4,517104,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,1,0,0,2,0,2,1,0.0,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.500000,0.000000,0.000000,1.000000,0.000000

## Averages by cluster

In [59]:
columns_to_exclude = ['client_id', 'cluster']

In [60]:
columns_to_average = [col for col in data.columns if col not in columns_to_exclude]

In [61]:
averages = data.groupby('cluster')[columns_to_average].mean().reset_index()

In [62]:
averages

,cluster,residence_country 1,residence_country 2,residence_country 3,residence_country 4,residence_country 5,residence_country 6,residence_country 7,residence_other region 1,residence_other region 2,residence_other region 3,residence_other region 4,residence_other region 5,residence_other region 6,residence_other region 7,residence_other region 8,generation_gen silent/boomers,generation_gen x,generation_gen z/alpha,generation_millennials,category_children clothes,category_handbags,category_men clothes,category_men shoes,category_other,category_soft,category_women clothes,category_women shoes,color_cool_jewel,color_neutral_pastel,color_other,color_vivid_metallic,color_warm_earth,season_autumn,season_spring,season_summer,season_winter,total_sum,category_children clothes_prop,category_handbags_prop,category_men clothes_prop,category_men shoes_prop,category_other_prop,category_soft_prop,category_women clothes_prop,category_women shoes_prop,color_cool_jewel_prop,color_neutral_pastel_prop,color_other_prop,color_vivid_metallic_prop,color_warm_earth_prop,season_autumn_prop,season_spring_prop,season_summer_prop,season_winter_prop
0,0,0.438961,0.077922,0.063203,0.033766,0.045887,0.060606,0.045022,0.031169,0.004329,0.016450,0.079654,0.002597,0.039827,0.042424,0.018182,0.147186,0.458009,0.007792,0.387013,2.252814,2.879654,6.830303,2.340260,11.316017,2.689177,17.481385,7.509957,6.705628,17.984416,10.193074,3.157576,15.258874,12.832900,13.539394,13.199134,13.728139,53.299567,0.040108,0.054114,0.129496,0.045173,0.210950,0.050740,0.327697,0.141723,0.126046,0.337369,0.191086,0.059571,0.285927,0.241178,0.253806,0.248648,0.256368
1,1,0.596340,0.069791,0.035599,0.030973,0.036605,0.015286,0.058327,0.020716,0.000402,0.006235,0.046259,0.003218,0.047265,0.026146,0.006838,0.112832,0.420756,0.007643,0.458769,0.230692,0.719831,0.895213,0.416533,1.948713,0.315768,2.648833,1.361424,0.934634,3.236726,1.739541,0.481094,2.145012,2.311142,2.097144,2.121078,2.007643,8.537007,0.024010,0.094629,0.098326,0.047659,0.224942,0.035622,0.316473,0.158339,0.106459,0.383639,0.208255,0.057951,0.243696,0.280873,0.245710,0.249670,0.223747
2,2,0.484166,0.083937,0.086227,0.025563,0.032430,0.041206,0.057230,0.029760,0.002671,0.013354,0.065624,0.004960,0.041587,0.023274,0.008012,0.145746,0.442198,0.006868,0.405189,0.993895,2.064479,2.961847,1.296452,6.937047,1.118275,7.582984,3.987028,3.040443,9.660435,5.569630,1.508966,7.162533,6.724533,6.875620,6.356353,6.985502,26.942007,0.033548,0.079729,0.109693,0.049856,0.259898,0.041682,0.273943,0.151651,0.112043,0.358843,0.210337,0.056422,0.262355,0.249273,0.253638,0.237825,0.259264

## ANOVA

In [63]:
#H0: Avg Cluster 0 = Avg Cluster 1 = Avg Cluster 2
#H1: At least one different 

p_values = {}

for col in data.columns[1:]:  # Exclude the 'client_id' column
    clusters = [data[data['cluster'] == i][col] for i in range(0, 3)]  # Assuming clusters are labeled 1, 2, 3
    f_stat, p_value = f_oneway(*clusters)
    p_values[col] = p_value

# Display all p-values for variables
print("All p-values for variables:")
for var, p_val in p_values.items():
    print(f"Variable: {var}, p-value: {p_val}")

# Collect variables with p-value < 0.05 into a list
significant_variables = [var for var, p_val in p_values.items() if p_val < 0.05]

# Display variables with p-value < 0.05
print("\nVariables with p-value < 0.05:")
print(significant_variables)

All p-values for variables:
Variable: residence_country 1, p-value: 3.262299292829481e-32
Variable: residence_country 2, p-value: 0.0782113145671382
Variable: residence_country 3, p-value: 8.152783568359068e-20
Variable: residence_country 4, p-value: 0.2869503934259266
Variable: residence_country 5, p-value: 0.12749058018898146
Variable: residence_country 6, p-value: 6.49591724845738e-20
Variable: residence_country 7, p-value: 0.20247173968786114
Variable: residence_other region 1, p-value: 0.01803473378862362
Variable: residence_other region 2, p-value: 0.002833957978373587
Variable: residence_other region 3, p-value: 0.0004717907826847701
Variable: residence_other region 4, p-value: 2.8575152112795306e-06
Variable: residence_other region 5, p-value: 0.3986958410703587
Variable: residence_other region 6, p-value: 0.3670225831577265
Variable: residence_other region 7, p-value: 0.002822790639714544
Variable: residence_other region 8, p-value: 0.0008215098213827125
Variable: generation_gen silent/boomers, p-value: 2.1061945681179003e-05
Variable: generation_gen x, p-value: 0.0324490616944867
Variable: generation_gen z/alpha, p-value: 0.9215374223229388
Variable: generation_millennials, p-value: 1.31103530835569e-07
Variable: category_children clothes, p-value: 5.770766856873017e-59
Variable: category_handbags, p-value: 3.481812102856808e-266
Variable: category_men clothes, p-value: 0.0
Variable: category_men shoes, p-value: 3.723282765450499e-264
Variable: category_other, p-value: 0.0
Variable: category_soft, p-value: 0.0
Variable: category_women clothes, p-value: 0.0
Variable: category_women shoes, p-value: 0.0
Variable: color_cool_jewel, p-value: 0.0
Variable: color_neutral_pastel, p-value: 0.0
Variable: color_other, p-value: 0.0
Variable: color_vivid_metallic, p-value: 0.0
Variable: color_warm_earth, p-value: 0.0
Variable: season_autumn, p-value: 0.0
Variable: season_spring, p-value: 0.0
Variable: season_summer, p-value: 0.0
Variable: season_winter, p-value: 0.0
Variable: total_sum, p-value: 0.0
Variable: cluster, p-value: 0.0
Variable: category_children clothes_prop, p-value: 7.977056848842676e-05
Variable: category_handbags_prop, p-value: 1.6110846657829643e-17
Variable: category_men clothes_prop, p-value: 8.481222191948036e-08
Variable: category_men shoes_prop, p-value: 0.37486721405462387
Variable: category_other_prop, p-value: 4.884449055779311e-13
Variable: category_soft_prop, p-value: 3.4362937620569336e-08
Variable: category_women clothes_prop, p-value: 1.3338683826267264e-10
Variable: category_women shoes_prop, p-value: 0.006230410200751896
Variable: color_cool_jewel_prop, p-value: 5.022236524704514e-06
Variable: color_neutral_pastel_prop, p-value: 6.832178537480914e-14
Variable: color_other_prop, p-value: 0.0024941516920424715
Variable: color_vivid_metallic_prop, p-value: 0.6047719178003673
Variable: color_warm_earth_prop, p-value: 2.409381295909045e-14
Variable: season_autumn_prop, p-value: 1.1081948114482266e-08
Variable: season_spring_prop, p-value: 0.33917767845060287
Variable: season_summer_prop, p-value: 0.14875307351827466
Variable: season_winter_prop, p-value: 2.4463868632545465e-10

Variables with p-value < 0.05:
['residence_country 1', 'residence_country 3', 'residence_country 6', 'residence_other region 1', 'residence_other region 2', 'residence_other region 3', 'residence_other region 4', 'residence_other region 7', 'residence_other region 8', 'generation_gen silent/boomers', 'generation_gen x', 'generation_millennials', 'category_children clothes', 'category_handbags', 'category_men clothes', 'category_men shoes', 'category_other', 'category_soft', 'category_women clothes', 'category_women shoes', 'color_cool_jewel', 'color_neutral_pastel', 'color_other', 'color_vivid_metallic', 'color_warm_earth', 'season_autumn', 'season_spring', 'season_summer', 'season_winter', 'total_sum', 'cluster', 'category_children clothes_prop', 'category_handbags_prop', 'category_men clothes_prop', 'category_other_prop', 'category_soft_prop', 'category_women clothes_prop', 'category_women shoes_prop', 'color_cool_jewel_prop', 'color_neutral_pastel_prop', 'color_other_prop', 'color_warm_earth_prop', 'season_autumn_prop', 'season_winter_prop']

## Tukey HSD (Honestly Significant Difference)

In [64]:
significant_variables = ['residence_country 1', 'residence_country 3', 'residence_country 6', 'residence_other region 1', 'residence_other region 2', 'residence_other region 3', 'residence_other region 4', 'residence_other region 7', 'residence_other region 8', 'generation_gen silent/boomers', 'generation_gen x', 'generation_millennials', 'category_children clothes', 'category_handbags', 'category_men clothes', 'category_men shoes', 'category_other', 'category_soft', 'category_women clothes', 'category_women shoes', 'color_cool_jewel', 'color_neutral_pastel', 'color_other', 'color_vivid_metallic', 'color_warm_earth', 'season_autumn', 'season_spring', 'season_summer', 'season_winter', 'total_sum', 'cluster', 'category_children clothes_prop', 'category_handbags_prop', 'category_men clothes_prop', 'category_other_prop', 'category_soft_prop', 'category_women clothes_prop', 'category_women shoes_prop', 'color_cool_jewel_prop', 'color_neutral_pastel_prop', 'color_other_prop', 'color_warm_earth_prop', 'season_autumn_prop', 'season_winter_prop']

In [65]:
#where are the differences? 

for var in significant_variables:
    tukey_results = pairwise_tukeyhsd(data[var], data['cluster'])

    print(f"Tukey HSD results for variable '{var}':")
    print(tukey_results)

Tukey HSD results for variable 'residence_country 1':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1   0.1574   0.0  0.1195  0.1952   True
     0      2   0.0452 0.026  0.0043  0.0861   True
     1      2  -0.1122   0.0 -0.1401 -0.0842   True
---------------------------------------------------
Tukey HSD results for variable 'residence_country 3':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1  -0.0276 0.0005 -0.0449 -0.0103   True
     0      2    0.023 0.0109  0.0043  0.0417   True
     1      2   0.0506    0.0  0.0379  0.0634   True
----------------------------------------------------
Tukey HSD results for variable 'residence_country 6':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1  -0.0453    0.0 -0.0581 -0.0325   True
     0      2  -0.0194 0.0029 -0.0332 -0.0056   True
     1      2   0.0259    0.0  0.0165  0.0354   True
----------------------------------------------------
Tukey HSD results for variable 'residence_other region 1':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
     0      1  -0.0105 0.0988 -0.0224 0.0015  False
     0      2  -0.0014 0.9644 -0.0143 0.0115  False
     1      2    0.009 0.0423  0.0002 0.0178   True
---------------------------------------------------
Tukey HSD results for variable 'residence_other region 2':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1  -0.0039 0.0074 -0.007 -0.0009   True
     0      2  -0.0017  0.468 -0.005  0.0016  False
     1      2   0.0023  0.049    0.0  0.0045   True
---------------------------------------------------
Tukey HSD results for variable 'residence_other region 3':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1  -0.0102 0.0041 -0.0177 -0.0027   True
     0      2  -0.0031 0.6438 -0.0112   0.005  False
     1      2   0.0071 0.0074  0.0016  0.0127   True
----------------------------------------------------
Tukey HSD results for variable 'residence_other region 4':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1  -0.0334    0.0  -0.051 -0.0157   True
     0      2   -0.014 0.1965 -0.0331  0.0051  False
     1      2   0.0194 0.0015  0.0063  0.0324   True
----------------------------------------------------
Tukey HSD results for variable 'residence_other region 7':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1  -0.0163 0.0064 -0.0288 -0.0038   True
     0      2  -0.0192 0.0026 -0.0327 -0.0056   True
     1      2  -0.0029 0.7463 -0.0121  0.0064  False
----------------------------------------------------
Tukey HSD results for variable 'residence_other region 8':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1  -0.0113 0.0005 -0.0184 -0.0042   True
     0      2  -0.0102 0.0054 -0.0178 -0.0025   True
     1      2   0.0012 0.8594 -0.0041  0.0064  False
----------------------------------------------------
Tukey HSD results for variable 'generation_gen silent/boomers':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1  -0.0344 0.0045 -0.0598 -0.0089   True
     0      2  -0.0014 0.9918  -0.029  0.0261  False
     1      2   0.0329 0.0001  0.0141  0.0517   True
----------------------------------------------------
Tukey HSD results for variable 'generation_gen x':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
     0      1  -0.0373 0.0555 -0.0752 0.0007  False
     0      2  -0.0158 0.6378 -0.0568 0.0252  False
     1      2   0.0214 0.1718 -0.0066 0.0495  False
---------------------------------------------------
Tukey HSD results for variable 'generation_millennials':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0718    0.0  0.0339  0.1096   True
     0      2   0.0182 0.5514 -0.0228  0.0591  False
     1      2  -0.0536    0.0 -0.0816 -0.0256   True
----------------------------------------------------
Tukey HSD results for variable 'category_children clothes':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1  -2.0221   0.0 -2.3192  -1.725   True
     0      2  -1.2589   0.0 -1.5801 -0.9377   True
     1      2   0.7632   0.0  0.5437  0.9828   True
---------------------------------------------------
Tukey HSD results for variable 'category_handbags':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1  -2.1598   0.0 -2.3234 -1.9963   True
     0      2  -0.8152   0.0  -0.992 -0.6383   True
     1      2   1.3446   0.0  1.2238  1.4655   True
---------------------------------------------------
Tukey HSD results for variable 'category_men clothes':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1  -5.9351   0.0 -6.2246 -5.6456   True
     0      2  -3.8685   0.0 -4.1815 -3.5554   True
     1      2   2.0666   0.0  1.8527  2.2806   True
---------------------------------------------------
Tukey HSD results for variable 'category_men shoes':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1  -1.9237   0.0 -2.0573 -1.7902   True
     0      2  -1.0438   0.0 -1.1882 -0.8994   True
     1      2   0.8799   0.0  0.7812  0.9786   True
---------------------------------------------------
Tukey HSD results for variable 'category_other':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1  -9.3673   0.0 -9.7256 -9.0091   True
     0      2   -4.379   0.0 -4.7663 -3.9916   True
     1      2   4.9883   0.0  4.7236  5.2531   True
---------------------------------------------------
Tukey HSD results for variable 'category_soft':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1  -2.3734   0.0 -2.4949 -2.2519   True
     0      2  -1.5709   0.0 -1.7023 -1.4395   True
     1      2   0.8025   0.0  0.7127  0.8923   True
---------------------------------------------------

Tukey HSD results for variable 'category_women clothes':
 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj  lower    upper   reject
-----------------------------------------------------
     0      1 -14.8326   0.0 -15.3328 -14.3323   True
     0      2  -9.8984   0.0 -10.4393  -9.3575   True
     1      2   4.9342   0.0   4.5644   5.3039   True
-----------------------------------------------------
Tukey HSD results for variable 'category_women shoes':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1  -6.1485   0.0 -6.3771 -5.9199   True
     0      2  -3.5229   0.0 -3.7701 -3.2758   True
     1      2   2.6256   0.0  2.4567  2.7945   True
---------------------------------------------------
Tukey HSD results for variable 'color_cool_jewel':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1   -5.771   0.0 -5.9308 -5.6112   True
     0      2  -3.6652   0.0 -3.8379 -3.4924   True
     1      2   2.1058   0.0  1.9877  2.2239   True
---------------------------------------------------
Tukey HSD results for variable 'color_neutral_pastel':
 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj  lower    upper   reject
-----------------------------------------------------
     0      1 -14.7477   0.0 -15.0418 -14.4536   True
     0      2   -8.324   0.0   -8.642   -8.006   True
     1      2   6.4237   0.0   6.2064   6.6411   True
-----------------------------------------------------
Tukey HSD results for variable 'color_other':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1  -8.4535   0.0 -8.6667 -8.2404   True
     0      2  -4.6234   0.0 -4.8539  -4.393   True
     1      2   3.8301   0.0  3.6726  3.9876   True
---------------------------------------------------
Tukey HSD results for variable 'color_vivid_metallic':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1  -2.6765   0.0 -2.7797 -2.5733   True
     0      2  -1.6486   0.0 -1.7602  -1.537   True
     1      2   1.0279   0.0  0.9516  1.1041   True
---------------------------------------------------
Tukey HSD results for variable 'color_warm_earth':
 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj  lower    upper   reject
-----------------------------------------------------
     0      1 -13.1139   0.0 -13.3639 -12.8638   True
     0      2  -8.0963   0.0  -8.3667   -7.826   True
     1      2   5.0175   0.0   4.8327   5.2023   True
-----------------------------------------------------
Tukey HSD results for variable 'season_autumn':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj  lower    upper  reject
----------------------------------------------------
     0      1 -10.5218   0.0 -10.8615 -10.182   True
     0      2  -6.1084   0.0  -6.4757  -5.741   True
     1      2   4.4134   0.0   4.1623  4.6644   True
----------------------------------------------------
Tukey HSD results for variable 'season_spring':
 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj  lower    upper   reject
-----------------------------------------------------
     0      1 -11.4422   0.0 -11.7836 -11.1009   True
     0      2  -6.6638   0.0  -7.0328  -6.2947   True
     1      2   4.7785   0.0   4.5262   5.0307   True
-----------------------------------------------------
Tukey HSD results for variable 'season_summer':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj  lower    upper  reject
----------------------------------------------------
     0      1 -11.0781   0.0 -11.4101 -10.746   True
     0      2  -6.8428   0.0  -7.2018 -6.4837   True
     1      2   4.2353   0.0   3.9899  4.4807   True
----------------------------------------------------
Tukey HSD results for variable 'season_winter':
 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj  lower    upper   reject
-----------------------------------------------------
     0      1 -11.7205   0.0 -12.0721 -11.3689   True
     0      2  -6.7426   0.0  -7.1228  -6.3624   True
     1      2   4.9779   0.0    4.718   5.2377   True
-----------------------------------------------------
Tukey HSD results for variable 'total_sum':
 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj  lower    upper   reject
-----------------------------------------------------
     0      1 -44.7626   0.0 -45.2327 -44.2925   True
     0      2 -26.3576   0.0 -26.8659 -25.8493   True
     1      2   18.405   0.0  18.0576  18.7524   True
-----------------------------------------------------
Tukey HSD results for variable 'cluster':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================
group1 group2 meandiff p-adj lower upper reject
-----------------------------------------------
     0      1      1.0   0.0   1.0   1.0   True
     0      2      2.0   0.0   2.0   2.0   True
     1      2      1.0   0.0   1.0   1.0   True
-----------------------------------------------
Tukey HSD results for variable 'category_children clothes_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1  -0.0161 0.0005 -0.0261 -0.0061   True
     0      2  -0.0066 0.3275 -0.0173  0.0042  False
     1      2   0.0095 0.0068  0.0022  0.0169   True
----------------------------------------------------
Tukey HSD results for variable 'category_handbags_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0405    0.0  0.0294  0.0516   True
     0      2   0.0256    0.0  0.0136  0.0376   True
     1      2  -0.0149 0.0001 -0.0231 -0.0067   True
----------------------------------------------------
Tukey HSD results for variable 'category_men clothes_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1  -0.0312    0.0 -0.0443  -0.018   True
     0      2  -0.0198 0.0032  -0.034 -0.0056   True
     1      2   0.0114 0.0171  0.0016  0.0211   True
----------------------------------------------------
Tukey HSD results for variable 'category_other_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
==================================================
group1 group2 meandiff p-adj  lower  upper  reject
--------------------------------------------------
     0      1    0.014 0.128 -0.0029 0.0309  False
     0      2   0.0489   0.0  0.0307 0.0672   True
     1      2    0.035   0.0  0.0225 0.0475   True
--------------------------------------------------
Tukey HSD results for variable 'category_soft_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1  -0.0151    0.0 -0.0214 -0.0088   True
     0      2  -0.0091 0.0052 -0.0159 -0.0022   True
     1      2   0.0061 0.0065  0.0014  0.0107   True
----------------------------------------------------

Tukey HSD results for variable 'category_women clothes_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1  -0.0112 0.4568 -0.0333  0.0108  False
     0      2  -0.0538    0.0 -0.0776 -0.0299   True
     1      2  -0.0425    0.0 -0.0588 -0.0262   True
----------------------------------------------------
Tukey HSD results for variable 'category_women shoes_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
     0      1   0.0166 0.0064  0.0039 0.0294   True
     0      2   0.0099   0.21 -0.0039 0.0237  False
     1      2  -0.0067 0.2194 -0.0161 0.0027  False
---------------------------------------------------
Tukey HSD results for variable 'color_cool_jewel_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1  -0.0196    0.0  -0.029 -0.0102   True
     0      2   -0.014 0.0034 -0.0241 -0.0039   True
     1      2   0.0056 0.1417 -0.0013  0.0125  False
----------------------------------------------------
Tukey HSD results for variable 'color_neutral_pastel_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0463    0.0  0.0308  0.0617   True
     0      2   0.0215 0.0074  0.0048  0.0382   True
     1      2  -0.0248    0.0 -0.0362 -0.0134   True
----------------------------------------------------
Tukey HSD results for variable 'color_other_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
     0      1   0.0172 0.0043  0.0045 0.0298   True
     0      2   0.0193 0.0028  0.0056 0.0329   True
     1      2   0.0021 0.8609 -0.0073 0.0114  False
---------------------------------------------------
Tukey HSD results for variable 'color_warm_earth_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1  -0.0422    0.0 -0.0555  -0.029   True
     0      2  -0.0236 0.0003 -0.0379 -0.0093   True
     1      2   0.0187    0.0  0.0089  0.0284   True
----------------------------------------------------
Tukey HSD results for variable 'season_autumn_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0397    0.0  0.0195  0.0599   True
     0      2   0.0081 0.6589 -0.0137  0.0299  False
     1      2  -0.0316    0.0 -0.0465 -0.0167   True
----------------------------------------------------
Tukey HSD results for variable 'season_winter_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1  -0.0326 0.0001 -0.0511 -0.0142   True
     0      2   0.0029 0.9382 -0.0171  0.0229  False
     1      2   0.0355    0.0  0.0219  0.0492   True
----------------------------------------------------