# Brand Co. Client Segmentation

Validating differences across clusters through ANOVA and Tukey HSD

## Import libraries

In [23]:
# data
# ==============================================================================
import numpy as np
import pandas as pd

# charts
# ==============================================================================
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits import mplot3d

# pre-processing 
# ==============================================================================
from sklearn.preprocessing import StandardScaler

#from sklearn import metrics
from sklearn.cluster import KMeans, DBSCAN
from yellowbrick.cluster import KElbowVisualizer
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# warnings
# ==============================================================================
import warnings
warnings.filterwarnings('ignore')

#display
# ==============================================================================
pd.set_option('display.max_columns', None)

#stats
# ==============================================================================
from scipy.stats import f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd

## Import dataset

In [24]:
original_data = pd.read_csv('../data/clean/data_clean_men.csv')

In [25]:
labels = pd.read_csv('../data/clusters/clusters_men.csv')

In [26]:
original_data.head(2)

,client_id,residence_country 1,residence_country 2,residence_country 3,residence_country 4,residence_country 5,residence_country 6,residence_country 7,residence_other region 1,residence_other region 2,residence_other region 3,residence_other region 4,residence_other region 5,residence_other region 6,residence_other region 7,residence_other region 8,generation_gen silent/boomers,generation_gen x,generation_gen z/alpha,generation_millennials,category_children clothes,category_handbags,category_men clothes,category_men shoes,category_other,category_soft,category_women clothes,category_women shoes,color_cool_jewel,color_neutral_pastel,color_other,color_vivid_metallic,color_warm_earth,season_autumn,season_spring,season_summer,season_winter,total_sum
0,124710,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,2,3,1,0,2,4,2,6,1,0,3,0,2,0,10,12
1,382440,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2,2,0,0,1,0,0,3,1,1,0,0,0,4,1,5

In [27]:
labels.head(2)

   client_id  cluster
0     124710        2
1     382440        2

## Transform dataset

In [28]:
data = pd.merge(original_data, labels, on='client_id')
data.head()

,client_id,residence_country 1,residence_country 2,residence_country 3,residence_country 4,residence_country 5,residence_country 6,residence_country 7,residence_other region 1,residence_other region 2,residence_other region 3,residence_other region 4,residence_other region 5,residence_other region 6,residence_other region 7,residence_other region 8,generation_gen silent/boomers,generation_gen x,generation_gen z/alpha,generation_millennials,category_children clothes,category_handbags,category_men clothes,category_men shoes,category_other,category_soft,category_women clothes,category_women shoes,color_cool_jewel,color_neutral_pastel,color_other,color_vivid_metallic,color_warm_earth,season_autumn,season_spring,season_summer,season_winter,total_sum,cluster
0,124710,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,2,3,1,0,2,4,2,6,1,0,3,0,2,0,10,12,2
1,382440,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2,2,0,0,1,0,0,3,1,1,0,0,0,4,1,5,2
2,1311915,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,2,4,3,2,0,0,2,3,6,1,2,1,7,1,3,2,13,2
3,1958756,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,2,6,6,25,5,1,10,1,25,14,2,13,7,20,16,12,55,1
4,1958794,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,3,10,4,5,1,1,3,3,8,5,2,9,9,9,6,3,27,0

In [29]:
#I will add proportion columns to account for the relative preference towards a given season, product category, color

In [30]:
data.columns

Index(['client_id', 'residence_country 1', 'residence_country 2',
       'residence_country 3', 'residence_country 4', 'residence_country 5',
       'residence_country 6', 'residence_country 7',
       'residence_other region 1', 'residence_other region 2',
       'residence_other region 3', 'residence_other region 4',
       'residence_other region 5', 'residence_other region 6',
       'residence_other region 7', 'residence_other region 8',
       'generation_gen silent/boomers', 'generation_gen x',
       'generation_gen z/alpha', 'generation_millennials',
       'category_children clothes', 'category_handbags',
       'category_men clothes', 'category_men shoes', 'category_other',
       'category_soft', 'category_women clothes', 'category_women shoes',
       'color_cool_jewel', 'color_neutral_pastel', 'color_other',
       'color_vivid_metallic', 'color_warm_earth', 'season_autumn',
       'season_spring', 'season_summer', 'season_winter', 'total_sum',
       'cluster'],
      dtype='object')

In [31]:
category_columns = [
    'category_children clothes', 'category_handbags',
       'category_men clothes', 'category_men shoes', 'category_other',
       'category_soft', 'category_women clothes', 'category_women shoes'
]

In [32]:
color_columns = ['color_cool_jewel', 'color_neutral_pastel', 'color_other',
       'color_vivid_metallic', 'color_warm_earth'
]

In [33]:
season_columns = ['season_autumn', 'season_spring', 'season_summer',
       'season_winter'
]

In [34]:
for col in category_columns:
    data[f'{col}_prop'] = data[col] / data['total_sum']

In [35]:
for col in color_columns:
    data[f'{col}_prop'] = data[col] / data['total_sum']

In [36]:
for col in season_columns:
    data[f'{col}_prop'] = data[col] / data['total_sum']

In [37]:
data.head()

,client_id,residence_country 1,residence_country 2,residence_country 3,residence_country 4,residence_country 5,residence_country 6,residence_country 7,residence_other region 1,residence_other region 2,residence_other region 3,residence_other region 4,residence_other region 5,residence_other region 6,residence_other region 7,residence_other region 8,generation_gen silent/boomers,generation_gen x,generation_gen z/alpha,generation_millennials,category_children clothes,category_handbags,category_men clothes,category_men shoes,category_other,category_soft,category_women clothes,category_women shoes,color_cool_jewel,color_neutral_pastel,color_other,color_vivid_metallic,color_warm_earth,season_autumn,season_spring,season_summer,season_winter,total_sum,cluster,category_children clothes_prop,category_handbags_prop,category_men clothes_prop,category_men shoes_prop,category_other_prop,category_soft_prop,category_women clothes_prop,category_women shoes_prop,color_cool_jewel_prop,color_neutral_pastel_prop,color_other_prop,color_vivid_metallic_prop,color_warm_earth_prop,season_autumn_prop,season_spring_prop,season_summer_prop,season_winter_prop
0,124710,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,2,3,1,0,2,4,2,6,1,0,3,0,2,0,10,12,2,0.0,0.000000,0.166667,0.250000,0.083333,0.000000,0.166667,0.333333,0.166667,0.500000,0.083333,0.000000,0.250000,0.000000,0.166667,0.000000,0.833333
1,382440,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2,2,0,0,1,0,0,3,1,1,0,0,0,4,1,5,2,0.0,0.000000,0.400000,0.400000,0.000000,0.000000,0.200000,0.000000,0.000000,0.600000,0.200000,0.200000,0.000000,0.000000,0.000000,0.800000,0.200000
2,1311915,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,2,4,3,2,0,0,2,3,6,1,2,1,7,1,3,2,13,2,0.0,0.153846,0.307692,0.230769,0.153846,0.000000,0.000000,0.153846,0.230769,0.461538,0.076923,0.153846,0.076923,0.538462,0.076923,0.230769,0.153846
3,1958756,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,2,6,6,25,5,1,10,1,25,14,2,13,7,20,16,12,55,1,0.0,0.036364,0.109091,0.109091,0.454545,0.090909,0.018182,0.181818,0.018182,0.454545,0.254545,0.036364,0.236364,0.127273,0.363636,0.290909,0.218182
4,1958794,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,3,10,4,5,1,1,3,3,8,5,2,9,9,9,6,3,27,0,0.0,0.111111,0.370370,0.148148,0.185185,0.037037,0.037037,0.111111,0.111111,0.296296,0.185185,0.074074,0.333333,0.333333,0.333333,0.222222,0.111111

## Averages by cluster

In [38]:
columns_to_exclude = ['client_id', 'cluster']

In [39]:
columns_to_average = [col for col in data.columns if col not in columns_to_exclude]

In [40]:
averages = data.groupby('cluster')[columns_to_average].mean().reset_index()

In [41]:
averages

,cluster,residence_country 1,residence_country 2,residence_country 3,residence_country 4,residence_country 5,residence_country 6,residence_country 7,residence_other region 1,residence_other region 2,residence_other region 3,residence_other region 4,residence_other region 5,residence_other region 6,residence_other region 7,residence_other region 8,generation_gen silent/boomers,generation_gen x,generation_gen z/alpha,generation_millennials,category_children clothes,category_handbags,category_men clothes,category_men shoes,category_other,category_soft,category_women clothes,category_women shoes,color_cool_jewel,color_neutral_pastel,color_other,color_vivid_metallic,color_warm_earth,season_autumn,season_spring,season_summer,season_winter,total_sum,category_children clothes_prop,category_handbags_prop,category_men clothes_prop,category_men shoes_prop,category_other_prop,category_soft_prop,category_women clothes_prop,category_women shoes_prop,color_cool_jewel_prop,color_neutral_pastel_prop,color_other_prop,color_vivid_metallic_prop,color_warm_earth_prop,season_autumn_prop,season_spring_prop,season_summer_prop,season_winter_prop
0,0,0.480916,0.109051,0.140676,0.026172,0.015267,0.009815,0.031625,0.034896,0.001091,0.009815,0.068702,0.011996,0.025082,0.026172,0.008724,0.116685,0.435115,0.006543,0.441658,0.642312,1.785169,7.399128,3.452563,6.340240,0.954198,2.984733,2.818975,3.112323,9.615049,5.701200,1.166848,6.781897,6.362050,6.549618,6.451472,7.014177,26.377317,0.022738,0.069747,0.275156,0.132978,0.244548,0.036774,0.108660,0.109399,0.116964,0.363607,0.219934,0.044915,0.254581,0.240988,0.247761,0.242455,0.268796
1,1,0.284360,0.127962,0.175355,0.021327,0.026066,0.052133,0.042654,0.035545,0.004739,0.021327,0.104265,0.014218,0.028436,0.042654,0.018957,0.158768,0.428910,0.016588,0.395735,2.033175,2.251185,17.559242,6.329384,12.419431,2.933649,4.969194,4.191943,7.215640,17.827014,11.021327,2.521327,14.101896,13.227488,12.684834,12.571090,14.203791,52.687204,0.040232,0.042897,0.332507,0.120435,0.236187,0.055998,0.091703,0.080041,0.137875,0.336860,0.209899,0.048472,0.266894,0.253341,0.240263,0.237357,0.269039
2,2,0.607202,0.100277,0.063712,0.022161,0.014404,0.011080,0.030471,0.019391,0.000000,0.007756,0.052078,0.012188,0.036011,0.019945,0.003324,0.099169,0.421053,0.005540,0.474238,0.181163,0.747368,2.225485,1.137950,2.062604,0.264820,0.931302,0.824931,0.953463,3.274792,1.798892,0.359557,1.988920,2.176177,2.077562,2.105263,2.016620,8.375623,0.017159,0.106561,0.243805,0.134039,0.241201,0.030249,0.124967,0.102019,0.104950,0.396053,0.220948,0.044006,0.234042,0.271694,0.246889,0.248106,0.233310

## ANOVA

In [42]:
#H0: Avg Cluster 0 = Avg Cluster 1 = Avg Cluster 2
#H1: At least one different 

p_values = {}

for col in data.columns[1:]:  # Exclude the 'client_id' column
    clusters = [data[data['cluster'] == i][col] for i in range(0, 3)]  # Assuming clusters are labeled 1, 2, 3
    f_stat, p_value = f_oneway(*clusters)
    p_values[col] = p_value

# Display all p-values for variables
print("All p-values for variables:")
for var, p_val in p_values.items():
    print(f"Variable: {var}, p-value: {p_val}")

# Collect variables with p-value < 0.05 into a list
significant_variables = [var for var, p_val in p_values.items() if p_val < 0.05]

# Display variables with p-value < 0.05
print("\nVariables with p-value < 0.05:")
print(significant_variables)

All p-values for variables:
Variable: residence_country 1, p-value: 5.385473997573791e-35
Variable: residence_country 2, p-value: 0.24204245246197206
Variable: residence_country 3, p-value: 6.797384467541896e-16
Variable: residence_country 4, p-value: 0.7757085040938272
Variable: residence_country 5, p-value: 0.22454751014141985
Variable: residence_country 6, p-value: 2.4398511900468533e-09
Variable: residence_country 7, p-value: 0.4396059699978627
Variable: residence_other region 1, p-value: 0.023802074506970035
Variable: residence_other region 2, p-value: 0.01753679651671083
Variable: residence_other region 3, p-value: 0.0435048762222981
Variable: residence_other region 4, p-value: 0.0003215760609359097
Variable: residence_other region 5, p-value: 0.9358679343297513
Variable: residence_other region 6, p-value: 0.28124332999861046
Variable: residence_other region 7, p-value: 0.02482320543085901
Variable: residence_other region 8, p-value: 0.0018372226597588549
Variable: generation_gen silent/boomers, p-value: 0.001975076761780389
Variable: generation_gen x, p-value: 0.7765589247435799
Variable: generation_gen z/alpha, p-value: 0.05354230466404838
Variable: generation_millennials, p-value: 0.009423093355709372
Variable: category_children clothes, p-value: 3.0474619975169303e-24
Variable: category_handbags, p-value: 1.5093170611272237e-57
Variable: category_men clothes, p-value: 0.0
Variable: category_men shoes, p-value: 1.3089479508532742e-222
Variable: category_other, p-value: 0.0
Variable: category_soft, p-value: 8.931854450083255e-157
Variable: category_women clothes, p-value: 2.4117127242992292e-85
Variable: category_women shoes, p-value: 7.595634892407161e-159
Variable: color_cool_jewel, p-value: 0.0
Variable: color_neutral_pastel, p-value: 0.0
Variable: color_other, p-value: 0.0
Variable: color_vivid_metallic, p-value: 3.2407248899376577e-208
Variable: color_warm_earth, p-value: 0.0
Variable: season_autumn, p-value: 0.0
Variable: season_spring, p-value: 0.0
Variable: season_summer, p-value: 0.0
Variable: season_winter, p-value: 0.0
Variable: total_sum, p-value: 0.0
Variable: cluster, p-value: 0.0
Variable: category_children clothes_prop, p-value: 0.0003710413609324073
Variable: category_handbags_prop, p-value: 8.201853052634001e-17
Variable: category_men clothes_prop, p-value: 2.936682461333346e-09
Variable: category_men shoes_prop, p-value: 0.2699154242768471
Variable: category_other_prop, p-value: 0.8102071488075494
Variable: category_soft_prop, p-value: 2.1375286154084402e-08
Variable: category_women clothes_prop, p-value: 0.004483500846346257
Variable: category_women shoes_prop, p-value: 0.0014632188964187637
Variable: color_cool_jewel_prop, p-value: 2.8654183133649564e-06
Variable: color_neutral_pastel_prop, p-value: 1.2339902324556733e-08
Variable: color_other_prop, p-value: 0.4806642227999579
Variable: color_vivid_metallic_prop, p-value: 0.5896936479605672
Variable: color_warm_earth_prop, p-value: 0.00022152646052853373
Variable: season_autumn_prop, p-value: 0.013768119452146342
Variable: season_spring_prop, p-value: 0.871631391739538
Variable: season_summer_prop, p-value: 0.6981427098530041
Variable: season_winter_prop, p-value: 0.00046450374139720736

Variables with p-value < 0.05:
['residence_country 1', 'residence_country 3', 'residence_country 6', 'residence_other region 1', 'residence_other region 2', 'residence_other region 3', 'residence_other region 4', 'residence_other region 7', 'residence_other region 8', 'generation_gen silent/boomers', 'generation_millennials', 'category_children clothes', 'category_handbags', 'category_men clothes', 'category_men shoes', 'category_other', 'category_soft', 'category_women clothes', 'category_women shoes', 'color_cool_jewel', 'color_neutral_pastel', 'color_other', 'color_vivid_metallic', 'color_warm_earth', 'season_autumn', 'season_spring', 'season_summer', 'season_winter', 'total_sum', 'cluster', 'category_children clothes_prop', 'category_handbags_prop', 'category_men clothes_prop', 'category_soft_prop', 'category_women clothes_prop', 'category_women shoes_prop', 'color_cool_jewel_prop', 'color_neutral_pastel_prop', 'color_warm_earth_prop', 'season_autumn_prop', 'season_winter_prop']

## Tukey HSD (Honestly Significant Difference)

In [43]:
significant_variables = ['residence_country 1', 'residence_country 3', 'residence_country 6', 'residence_other region 1', 'residence_other region 2', 'residence_other region 3', 'residence_other region 4', 'residence_other region 7', 'residence_other region 8', 'generation_gen silent/boomers', 'generation_millennials', 'category_children clothes', 'category_handbags', 'category_men clothes', 'category_men shoes', 'category_other', 'category_soft', 'category_women clothes', 'category_women shoes', 'color_cool_jewel', 'color_neutral_pastel', 'color_other', 'color_vivid_metallic', 'color_warm_earth', 'season_autumn', 'season_spring', 'season_summer', 'season_winter', 'total_sum', 'cluster', 'category_children clothes_prop', 'category_handbags_prop', 'category_men clothes_prop', 'category_soft_prop', 'category_women clothes_prop', 'category_women shoes_prop', 'color_cool_jewel_prop', 'color_neutral_pastel_prop', 'color_warm_earth_prop', 'season_autumn_prop', 'season_winter_prop']

In [44]:
#where are the differences

for var in significant_variables:
    tukey_results = pairwise_tukeyhsd(data[var], data['cluster'])

    print(f"Tukey HSD results for variable '{var}':")
    print(tukey_results)

Tukey HSD results for variable 'residence_country 1':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1  -0.1966   0.0 -0.2637 -0.1294   True
     0      2   0.1263   0.0    0.08  0.1726   True
     1      2   0.3228   0.0  0.2611  0.3846   True
---------------------------------------------------
Tukey HSD results for variable 'residence_country 3':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0347 0.1183 -0.0065  0.0758  False
     0      2   -0.077    0.0 -0.1053 -0.0486   True
     1      2  -0.1116    0.0 -0.1495 -0.0738   True
----------------------------------------------------
Tukey HSD results for variable 'residence_country 6':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0423    0.0   0.025  0.0596   True
     0      2   0.0013 0.9665 -0.0107  0.0132  False
     1      2  -0.0411    0.0  -0.057 -0.0251   True
----------------------------------------------------
Tukey HSD results for variable 'residence_other region 1':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0006 0.9974 -0.0213  0.0226  False
     0      2  -0.0155 0.0433 -0.0307 -0.0004   True
     1      2  -0.0162 0.1459 -0.0363   0.004  False
----------------------------------------------------
Tukey HSD results for variable 'residence_other region 2':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0036 0.1098 -0.0006  0.0079  False
     0      2  -0.0011 0.6582  -0.004  0.0018  False
     1      2  -0.0047 0.0126 -0.0087 -0.0008   True
----------------------------------------------------
Tukey HSD results for variable 'residence_other region 3':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0115 0.1248 -0.0023  0.0253  False
     0      2  -0.0021 0.8684 -0.0116  0.0075  False
     1      2  -0.0136 0.0332 -0.0263 -0.0009   True
----------------------------------------------------
Tukey HSD results for variable 'residence_other region 4':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0356 0.0355  0.0019  0.0692   True
     0      2  -0.0166 0.2133 -0.0398  0.0066  False
     1      2  -0.0522 0.0002 -0.0831 -0.0212   True
----------------------------------------------------
Tukey HSD results for variable 'residence_other region 7':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
     0      1   0.0165 0.1689  -0.005 0.0379  False
     0      2  -0.0062 0.5845  -0.021 0.0086  False
     1      2  -0.0227  0.019 -0.0424 -0.003   True
---------------------------------------------------
Tukey HSD results for variable 'residence_other region 8':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0102  0.092 -0.0012  0.0217  False
     0      2  -0.0054 0.2458 -0.0133  0.0025  False
     1      2  -0.0156 0.0015 -0.0262 -0.0051   True
----------------------------------------------------
Tukey HSD results for variable 'generation_gen silent/boomers':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0421 0.0603 -0.0014  0.0856  False
     0      2  -0.0175 0.3567 -0.0475  0.0125  False
     1      2  -0.0596 0.0014 -0.0996 -0.0196   True
----------------------------------------------------
Tukey HSD results for variable 'generation_millennials':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
     0      1  -0.0459  0.259 -0.1145 0.0227  False
     0      2   0.0326 0.2393 -0.0147 0.0799  False
     1      2   0.0785 0.0099  0.0154 0.1416   True
---------------------------------------------------
Tukey HSD results for variable 'category_children clothes':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   1.3909    0.0  0.9393  1.8424   True
     0      2  -0.4611 0.0015 -0.7725 -0.1498   True
     1      2   -1.852    0.0 -2.2671 -1.4369   True
----------------------------------------------------
Tukey HSD results for variable 'category_handbags':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1    0.466 0.0003  0.1839  0.7481   True
     0      2  -1.0378    0.0 -1.2323 -0.8433   True
     1      2  -1.5038    0.0 -1.7631 -1.2445   True
----------------------------------------------------
Tukey HSD results for variable 'category_men clothes':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj  lower   upper   reject
----------------------------------------------------
     0      1  10.1601   0.0  9.2819  11.0383   True
     0      2  -5.1736   0.0 -5.7791  -4.5682   True
     1      2 -15.3338   0.0 -16.141 -14.5265   True
----------------------------------------------------
Tukey HSD results for variable 'category_men shoes':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1   2.8768   0.0  2.4727   3.281   True
     0      2  -2.3146   0.0 -2.5932  -2.036   True
     1      2  -5.1914   0.0 -5.5629 -4.8199   True
---------------------------------------------------
Tukey HSD results for variable 'category_other':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj  lower    upper  reject
----------------------------------------------------
     0      1   6.0792   0.0   5.4609  6.6975   True
     0      2  -4.2776   0.0  -4.7039 -3.8514   True
     1      2 -10.3568   0.0 -10.9252 -9.7885   True
----------------------------------------------------
Tukey HSD results for variable 'category_soft':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1   1.9795   0.0  1.7388  2.2201   True
     0      2  -0.6894   0.0 -0.8553 -0.5235   True
     1      2  -2.6688   0.0   -2.89 -2.4476   True
---------------------------------------------------
Tukey HSD results for variable 'category_women clothes':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1   1.9845   0.0  1.4321  2.5369   True
     0      2  -2.0534   0.0 -2.4343 -1.6726   True
     1      2  -4.0379   0.0 -4.5457 -3.5301   True
---------------------------------------------------

Tukey HSD results for variable 'category_women shoes':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1    1.373   0.0  1.0298  1.7161   True
     0      2   -1.994   0.0 -2.2306 -1.7575   True
     1      2   -3.367   0.0 -3.6824 -3.0516   True
---------------------------------------------------
Tukey HSD results for variable 'color_cool_jewel':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1   4.1033   0.0  3.7983  4.4083   True
     0      2  -2.1589   0.0 -2.3691 -1.9486   True
     1      2  -6.2622   0.0 -6.5426 -5.9818   True
---------------------------------------------------
Tukey HSD results for variable 'color_neutral_pastel':
 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj  lower    upper   reject
-----------------------------------------------------
     0      1    8.212   0.0    7.674     8.75   True
     0      2  -6.3403   0.0  -6.7112  -5.9694   True
     1      2 -14.5522   0.0 -15.0468 -14.0577   True
-----------------------------------------------------
Tukey HSD results for variable 'color_other':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
==================================================
group1 group2 meandiff p-adj lower   upper  reject
--------------------------------------------------
     0      1   5.3201   0.0  4.955  5.6852   True
     0      2  -3.9023   0.0 -4.154 -3.6506   True
     1      2  -9.2224   0.0 -9.558 -8.8868   True
--------------------------------------------------
Tukey HSD results for variable 'color_vivid_metallic':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     0      1   1.3545   0.0  1.1842  1.5247   True
     0      2  -0.8073   0.0 -0.9246 -0.6899   True
     1      2  -2.1618   0.0 -2.3182 -2.0053   True
---------------------------------------------------
Tukey HSD results for variable 'color_warm_earth':
 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj  lower    upper   reject
-----------------------------------------------------
     0      1     7.32   0.0   6.8791   7.7609   True
     0      2   -4.793   0.0  -5.0969   -4.489   True
     1      2  -12.113   0.0 -12.5183 -11.7077   True
-----------------------------------------------------
Tukey HSD results for variable 'season_autumn':
 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj  lower    upper   reject
-----------------------------------------------------
     0      1   6.8654   0.0   6.2701   7.4608   True
     0      2  -4.1859   0.0  -4.5963  -3.7755   True
     1      2 -11.0513   0.0 -11.5985 -10.5041   True
-----------------------------------------------------
Tukey HSD results for variable 'season_spring':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj  lower   upper   reject
----------------------------------------------------
     0      1   6.1352   0.0  5.5274    6.743   True
     0      2  -4.4721   0.0 -4.8911   -4.053   True
     1      2 -10.6073   0.0 -11.166 -10.0486   True
----------------------------------------------------
Tukey HSD results for variable 'season_summer':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj  lower    upper  reject
----------------------------------------------------
     0      1   6.1196   0.0   5.4935  6.7457   True
     0      2  -4.3462   0.0  -4.7779 -3.9146   True
     1      2 -10.4658   0.0 -11.0414 -9.8903   True
----------------------------------------------------
Tukey HSD results for variable 'season_winter':
 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj  lower    upper   reject
-----------------------------------------------------
     0      1   7.1896   0.0   6.5714   7.8078   True
     0      2  -4.9976   0.0  -5.4237  -4.5714   True
     1      2 -12.1872   0.0 -12.7554 -11.6189   True
-----------------------------------------------------
Tukey HSD results for variable 'total_sum':
 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj  lower    upper   reject
-----------------------------------------------------
     0      1  26.3099   0.0  25.4631  27.1567   True
     0      2 -18.0017   0.0 -18.5855 -17.4179   True
     1      2 -44.3116   0.0   -45.09 -43.5332   True
-----------------------------------------------------
Tukey HSD results for variable 'cluster':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================
group1 group2 meandiff p-adj lower upper reject
-----------------------------------------------
     0      1      1.0   0.0   1.0   1.0   True
     0      2      2.0   0.0   2.0   2.0   True
     1      2      1.0   0.0   1.0   1.0   True
-----------------------------------------------
Tukey HSD results for variable 'category_children clothes_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0175 0.0157  0.0027  0.0323   True
     0      2  -0.0056 0.4067 -0.0158  0.0046  False
     1      2  -0.0231 0.0002 -0.0367 -0.0094   True
----------------------------------------------------
Tukey HSD results for variable 'category_handbags_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1  -0.0268 0.0087 -0.0481 -0.0056   True
     0      2   0.0368    0.0  0.0221  0.0515   True
     1      2   0.0637    0.0  0.0441  0.0832   True
----------------------------------------------------
Tukey HSD results for variable 'category_men clothes_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0574 0.0008  0.0205  0.0942   True
     0      2  -0.0314 0.0108 -0.0568 -0.0059   True
     1      2  -0.0887    0.0 -0.1226 -0.0548   True
----------------------------------------------------
Tukey HSD results for variable 'category_soft_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0192 0.0001  0.0082  0.0303   True
     0      2  -0.0065 0.1109 -0.0142  0.0011  False
     1      2  -0.0257    0.0 -0.0359 -0.0156   True
----------------------------------------------------
Tukey HSD results for variable 'category_women clothes_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
     0      1   -0.017 0.3282 -0.0449 0.0109  False
     0      2   0.0163 0.1154 -0.0029 0.0355  False
     1      2   0.0333 0.0067  0.0076 0.0589   True
---------------------------------------------------
Tukey HSD results for variable 'category_women shoes_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1  -0.0294  0.001 -0.0485 -0.0102   True
     0      2  -0.0074 0.3887 -0.0206  0.0058  False
     1      2    0.022 0.0096  0.0044  0.0396   True
----------------------------------------------------

Tukey HSD results for variable 'color_cool_jewel_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0209 0.0114  0.0038   0.038   True
     0      2   -0.012 0.0441 -0.0238 -0.0002   True
     1      2  -0.0329    0.0 -0.0486 -0.0172   True
----------------------------------------------------
Tukey HSD results for variable 'color_neutral_pastel_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
     0      1  -0.0267 0.0627 -0.0546 0.0011  False
     0      2   0.0324 0.0002  0.0133 0.0516   True
     1      2   0.0592    0.0  0.0336 0.0848   True
---------------------------------------------------
Tukey HSD results for variable 'color_warm_earth_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0123 0.4453 -0.0115  0.0361  False
     0      2  -0.0205 0.0094 -0.0369 -0.0041   True
     1      2  -0.0329 0.0013 -0.0547  -0.011   True
----------------------------------------------------
Tukey HSD results for variable 'season_autumn_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
     0      1   0.0124 0.7053  -0.024 0.0487  False
     0      2   0.0307 0.0115  0.0056 0.0558   True
     1      2   0.0184 0.4025 -0.0151 0.0518  False
---------------------------------------------------
Tukey HSD results for variable 'season_winter_prop':
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     0      1   0.0002 0.9999 -0.0344  0.0349  False
     0      2  -0.0355 0.0015 -0.0594 -0.0116   True
     1      2  -0.0357 0.0234 -0.0676 -0.0039   True
----------------------------------------------------